@model NorthwindWeb.Models.OrderDto

<style>
    .product-row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

        .product-row input[type="text"] {
            margin-right: 10px;
        }

        .product-row .remove-product {
            margin-left: 10px;
            cursor: pointer;
        }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    window.onload = function () {
        initUnitPrice(0);
    }

    function initUnitPrice(index) {
        var hiddenInput = document.querySelector('.Product' + index);
        hiddenInput.setAttribute('value', 18);  
    }

    // Remove product row
    function removeProductRow(element) {
        $(element).closest('.product-row').remove();
        updateProductIndexes();
    }

    // Update product indexes
    function updateProductIndexes() {
        $('.product-row').each(function (index, row) {
            $(row).find('select').attr('name', `ListOfProduct[${index}].ProductId`);
            $(row).find('.unitprice').attr('name', `ListOfProduct[${index}].UnitPrice`);
            $(row).find('.unitprice').attr('class', `Product${index} unitprice`);
            //$(row).find('.unitPrice')
            $(row).find('.quantity').attr('name', `ListOfProduct[${index}].Quantity`);
        });
    }

    // Add new product row
    function addProductRow(element) {
        var productCount = $('.product-row').length;

        var selectOptions = '';
        @foreach (var product in (List<ProductModelDto>)ViewData["listProduct"])
        {
            <text>
            selectOptions += '<option value="@product.ProductId" data-unit-price="@product.UnitPrice">@product.ProductName - @product.UnitPrice $</option>';
            </text>
        }

        var productRow = '<div class="product-row">' +
            '<select class="form-control" name="ListOfProduct[' + productCount + '].ProductId" onchange="addUnitPrice(event)">' +
            selectOptions +
            '</select>' +
            '<input hidden="hidden" class="Product' + productCount + ' unitprice" value="" name="ListOfProduct[' + productCount + '].UnitPrice" />' +
            '<input type="number" class="form-control quantity" name="ListOfProduct[' + productCount + '].Quantity" placeholder="Quantity" />' +
            '<span class="remove-product" onclick="removeProductRow(this)">Remove</span>' +
            '</div>';

        $(element).closest('.col-10').find('.product-list').append(productRow);
        initUnitPrice(productCount);
    }

    //Get unit price
    function addUnitPrice(event) {
        var selectedIndex = event.target.selectedIndex;
        var unitPrice = event.target.options[selectedIndex].getAttribute('data-unit-price');
        var productRow = $(event.target).closest('.product-row');
        var hiddenInput = document.querySelector('.Product' + productRow.index());
        hiddenInput.setAttribute('value', unitPrice);
    }

</script>
<form asp-action="OrderCreate">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Order</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="EmployeeId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select class="form-control" asp-for="EmployeeId">
                    @foreach (var employee in (List<EmployeeDto>)ViewData["listEmployee"])
                    {
                        <option value="@employee.EmployeeId">@employee.Name</option>
                    }
                </select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="CustomerId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select class="form-control" asp-for="CustomerId">
                    @foreach (var customer in (List<CustomerDto>)ViewData["listCustomer"])
                    {
                        <option value="@customer.CustomerId">@customer.CustomerId</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <label asp-for="OrderDate" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="OrderDate" class="form-control" type="date" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="ListOfProduct" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <div class="product-list">
                    <div class="product-row">
                        <select class="form-control product" asp-for="ListOfProduct[0].ProductId" onchange="addUnitPrice(event)">
                            @foreach (var product in (List<ProductModelDto>)ViewData["listProduct"])
                            {
                                <option value="@product.ProductId" data-unit-price="@product.UnitPrice">@product.ProductName - @product.UnitPrice $</option>
                            }
                        </select>
                        <input hidden="hidden" class="Product0 unitprice" value="" asp-for="ListOfProduct[0].UnitPrice" />
                        <input type="number" class="form-control quantity" asp-for="ListOfProduct[0].Quantity" placeholder="Quantity" />
                        <span class="remove-product" onclick="removeProductRow(this)">Remove</span>
                    </div>
                </div>
                <span onclick="addProductRow(this)" style="cursor: pointer; color: blue;">Add Product</span>
            </div>
            <div class="col-5 offset-2">

                <a asp-action="OrderIndex" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />

            </div>

        </div>

        <div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}